.loan-table {
    width: 100%;
    border-collapse: collapse;
}

.loan-table th, .loan-table td {
    border: 1px solid #ddd;
    padding: 8px;
}

.loan-table th {
    background-color: #f4f4f4;
    text-align: left;
}

.loan-table tr:nth-child(even) {
    background-color: #f9f9f9;
}

.loan-table tr:hover {
    background-color: #f1f1f1;
}

.loan-table button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 6px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
}

.loan-table button:hover {
    background-color: #0056b3;
}

.loan-table .disabled-button {
    background-color: grey;
    color: white;
    cursor: not-allowed;
}

.pending-font {
    color: green;
    font-weight: bold;
    font-style: italic;
    text-transform: uppercase;
}

.approved-font {
    color: red;
    font-weight: bold;
    font-style: italic;
    text-transform: uppercase;
}

.username-style{
    text-transform: uppercase;
}


.modal-content .fair{
    color:green;
    font-size: large;
}

.modal-content .unfair{
    color:red;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.custom-modal .modal-dialog {
    max-height: 80vh; /* Maximum height of 80% of the viewport height */
    margin: 1.75rem auto; /* Adjusts vertical spacing */
}

.custom-modal .modal-content {
    overflow-y: auto; /* Enables scrolling if content exceeds max height */
}

/* Optional: Reduce padding and adjust font sizes for a more compact look */
.custom-modal .modal-body p {
    margin-bottom: 10px;
    font-size: 1rem;
}

/* Optional: Adjust the modal title */
.custom-modal .modal-title {
    font-size: 1.25rem;
    font-weight: bold;
}

.loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999; /* Ensure it covers other elements */
}